<% alert_classes = { 
  0 => "", 
  1 => "alert-minor delay", 
  2 => "alert-moderate delay", 
  3 => "alert-severe delay" 
} %>

<html>
  <body>
    <%= get_nav_bar %>

    <% route = get_route_info @type, @line %>
    <h1 class="title">
      <% if @type == "bus" %>
        <%= @type.upcase %>
      <% end %>
      <%= route['name'] %>
    </h1>

    <!-- Outbound trip info -->
    <% if @type == "cr" %>
      <% vehicles = get_outbound_vehicles @line %>
      <% if vehicles.size > 0 %>
        <h3 class="title">Outbound Trips</h3>
        <table align="center">
          <% vehicles.each do |vehicle| %>
            <tr>
              <td>TRIP #<%= vehicle['trip'] %>:</td>
              <td>VEHICLE #<%= vehicle['vehicle'] %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    <% end %>

    <!-- List of stops -->
    <% route["stops"].each do |direction, stops| %>
      <table width="50%" class="route-info">
        <tr>
          <th>
            <h3 class="title"><%= direction %></h3>
            <% stops.each do |id, stop| %>
              <% @alert_class = alert_classes[stop["delay"]["severity"]] %> 
              <tr><td class="collapsible-list">
                  <li>
                    <label for="stop-<%= id %>-<%= direction %>" class="<%= @alert_class %>">
                      <%= stop["name"] %>
                      <span class='delay-tooltip'><%= stop["delay"]["message"] %></span>
                    </label>
                    <input type="checkbox" id="stop-<%= id %>-<%= direction %>" />
                    <ul>
                      <% if stop["predictions"].size > 0 %>
                        <% stop["predictions"].each do |prediction| %>
                          <li><%= prediction %> minutes</li>
                        <% end %>
                      <% else %>
                        No predictions at this time
                      <% end %>
                    </ul>
                  </li>
              <td></tr>
            <% end %>
          </th>
        </tr>
      </table>
    <% end %>

    <!-- List of alerts -->
    <table class="route-info" width="100%">
      <tr><th><h2 class="title">Alerts</h2></th></tr>
      <% if route["alerts"].size == 0 %>
        <tr><th><hr><p>No alerts at this time</p></td></tr>
      <% end %>
      <% route["alerts"].each do |alert| %>
        <% case alert["severity"] 
          when 1 %>
          <% @class = "alert-minor" %>
        <% when 2 %>
          <% @class = "alert-moderate" %>
        <% when 3 %>
          <% @class = "alert-severe" %>
        <% else %>
          <% @class = "alert-none" %>
        <% end %>
        <tr><td>
          <hr>
          <p class="alert <%= @class %>"><b><%= alert['title'] %></b></p>
          <blockquote><%= alert['header'] %></blockquote>
          <blockquote><%= alert['description'] %></blockquote>
        </td></tr>
      <% end %>
    </table>

  </body>
</html>